/* Configuración global del body */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('MULTIMEDIA/IMAGENES/IMG_4672.JPEG');
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para el header */
header {
    background-color: rgba(255, 165, 0, 0.8);
    color: #FFF;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

/* Estilo para el título h1 */
h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Georgia', serif;
    transition: all 0.5s ease;
}

/* Estilo para los botones de navegación */
#nav-buttons {
    display: flex;
    gap: 10px;
}

#nav-buttons button {
    padding: 10px;
    font-size: 1em;
    background-color: #FF9800;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Estilo para el main */
main {
    padding: 20px;
    background-color: rgba(255, 239, 204, 0.9);
    border-radius: 10px;
    max-width: 800px;
    margin: 100px auto 20px auto;
}

/* Estilo para el footer */
footer {
    background-color: rgba(255, 165, 0, 0.8);
    color: #FFF;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

/* Estilo para la animación */
.scrolled header {
    padding: 10px 0;
    background-color: rgba(255, 165, 0, 0.9);
}

.scrolled h1 {
    font-size: 1.5em;
    margin-left: 20px;
}

.scrolled #nav-buttons button {
    opacity: 1;
}
